/* ---- */
.category-head__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.category-head__content {
}
.category-head__content img {
  width: 100%;
  max-width: 360px;
}

.prime_table {
  width: 100%;
}
.prime_table tr {
}
.prime_table td {
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px #f2f2f2 solid;
}

.form-wrap {
}

.form-wrap .h3 {
  color: #222;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.form-wrap p {
  font-size: 16px;
  color: #707070;
  line-height: 20px;
}

.form-wrap__input-wrap {
}
.form-wrap__input-wrap input {
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  line-height: 1;
  width: 100%;
  margin: 0 0 20px 0;
  color: #c4c4c4;
  font-size: 20px;
  padding: 12px 16px;
  display: block;
}

.form-wrap button {
  border: 0 none;
  border-radius: 5px;
  line-height: 42px;
  width: 100%;
  margin: 10px 0 0 0;
  color: #fff;
  font-size: 20px;
  padding: 0;
  display: block;
  cursor: pointer;
  background: #2eb5a8;
}

.form-wrap__checkbox-wrap {
  position: relative;
  padding-left: 24px;
}
.form-wrap__checkbox-wrap input {
  width: auto;
  position: absolute;
  top: 4px;
  left: 0;
  margin-top: 0;
}
.dd-group__content {
  display: none;
}

.faq h2 {
  text-align: center;
  font-weight: 600;
}

.faq p {
  text-align: center;
}

.faq .dd-group__item {
  border: 1px solid #eee;
  border-radius: 8px;
}

.dd-group__row {
  margin-top: -15px;
  display: flex;
  flex-wrap: wrap;
}

.dd-group__row > * {
  margin-top: 15px;
}

.faq .dd-group__item.active .dd-group__head:after {
  transform: translateY(-50%) rotateX(180deg);
}

.faq .dd-group__head {
  padding: 16px 35px 16px 14px;
  position: relative;
  cursor: pointer;
}

.faq .dd-group__head:after {
  transition: all 0.36s ease-in;
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_536_2704)'%3E%3Cpath d='M7.70492 8.69482L12.2949 13.2748L16.8849 8.69482L18.2949 10.1048L12.2949 16.1048L6.29492 10.1048L7.70492 8.69482Z' fill='%23222222'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_536_2704'%3E%3Crect width='24' height='24' fill='white' transform='translate(0 0.399902)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.faq .dd-group__content {
  padding: 0 14px 16px;
  color: #707070;
}

.choose-ceiling__row {
  margin-top: -15px;
}

.choose-ceiling__row > * {
  margin-top: 15px;
}

.choose-ceiling select {
  width: 100%;
  padding: 10px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  outline: none;
}

.choose-ceiling select:focus {
  border-color: #000;
}

.choose-ceiling__btn {
  display: block;
  width: 100%;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 30px;
  outline: none;
}

.choose-ceiling__btn:hover {
  border-color: #2eb5a8;
}
.choose-ceiling__btn:active,
.choose-ceiling__btn:focus,
.btn-primary:active:focus {
  color: #fff;
  background-color: #269e92;
  border-color: #269e92;
}

.cards__row {
  margin-top: -15px;
  display: flex;
  flex-wrap: wrap;
}
.cards__row::before,
.cards__row:after {
  content: unset;
}
.cards__row > * {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .card__col {
    width: 100%;
  }
}

.cat_block {
  transition: all 0.36s ease-out;
  position: relative;
  display: block;
  width: 100%;
  max-width: 345px;
  margin-left: auto;
  margin-right: auto;
}

.cat_block:hover {
  box-shadow: 0px 2px 15px 3px #b5b5b591;
}

.catblock_img {
  display: block;
  position: relative;
  --ratio: 184/262;
}
.catblock_img:after {
  content: '';
  position: relative;
  height: 0;
  display: block;
  padding-bottom: calc(var(--ratio) * 100%);
}
.catblock_img .img-wrap-center {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catblock_img .img-wrap-center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.catinfo {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  width: 100%;
}
.catinfo ul {
  display: none;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: rgba(46, 181, 168, 0.9);
}
.catinfo li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin: 5px;
}
.catinfo a {
  color: #fff;
  border-bottom: 1px #fff solid;
  text-decoration: none !important;
}
.catblock_price {
  position: static;
  padding: 10px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #2eb5a8;
  font-weight: bold;
}
.catblock_name {
  position: static;
  clear: both;
  background-color: rgba(46, 181, 168, 0.9);
}
.catblock_name div {
  color: #fff;
  text-decoration: none !important;
  border-bottom: 1px #fff solid;
  text-align: center;
  padding: 10px 0;
  display: block;
}

.cat_block:hover .catinfo ul {
  display: block;
}
